<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>

</head>
<body>
    <form id="myform">
        <h1>게시판 목록</h1>
        
   
        <%
            for( board of boardList ){
        %>
                <a href="/board/view/<%=board.id%>"><%=board.id%> <%=board.title%> <%=board.writer%>  <%=board.wdate%>
                    <%=board.hit%></a>
                <br/>  
        <%        
            }
        %>

        <button type="button" id="btnWrite">글쓰기</button>
    </form>
</body>
</html>
<script>
    $(()=>{
        $("#btnWrite").click(()=>{
            $("#myform").prop("method", "get");
            $("#myform").prop("action", "/board/write");
            $("#myform").submit();
        });
    })
</script>